# This is a basic workflow to help you get started with Actions

name: CI

on:
  push:    
    tags:
    - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Prepare 
      if: success()
      id: prepare
      run: |
        echo ::set-output name=docker_platforms::linux/amd64,linux/arm/v7,linux/arm64,linux/386,linux/ppc64le,linux/s390x
        #echo ::set-output name=docker_platforms::linux/amd64
        echo ::set-output name=docker_image::docker.io/${{ secrets.DOCKER_USERNAME }}/external-dns
        echo ::set-output name=version::${GITHUB_REF#refs/*/}
        echo ::set-output name=hash::${GITHUB_SHA}
        echo ::set-output name=pre-release::false
      
    - name: Set up Docker Buildx      
      uses: crazy-max/ghaction-docker-buildx@v3      
          
    - name: Log into registry
      if: success()
      run: echo ${{ secrets.DOCKER_TOKEN }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

    - name: Run Buildx
      run: |
        V1=$(echo "${{ steps.prepare.outputs.version }}" | sed -e 's/^v//')
        V2=$(echo "${{ steps.prepare.outputs.version }}" | sed -e 's/-.*$//')
        docker buildx build \
          --output type=image,name=${{ steps.prepare.outputs.docker_image }},push=true \
          --platform ${{ steps.prepare.outputs.docker_platforms }} \
          --tag "${{ steps.prepare.outputs.docker_image }}:$V1" \
          --tag "${{ steps.prepare.outputs.docker_image }}:${{ steps.prepare.outputs.hash }}" \
          --tag "${{ steps.prepare.outputs.docker_image }}:latest" \
          --build-arg VERSION="$V2" \
          --file Dockerfile .

    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        draft: false
        prerelease: ${{ steps.prepare.outputs.prerelease }}
